@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #FFF0F0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  font-size: 12px;
}

@media screen(sm) {
  html {
    font-size: 16px;
  }
}

body {
  background: var(--foreground-rgb)
}
